@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato/Lato-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato/Lato-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato/Lato-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}


body {
    display: flex;
    justify-content: space-around;
    background-color: yellow;
    font-family: "Lato", serif;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

main {
    width: 900px;
}

div#resultaat1 {
    background-color: blue;
    height: 100px;
    width: 100px;
}

div#resultaat2 {
    background-color: red;
    height: 100px;
    width: 100px;
}

div#wrapper {
    background-color: aqua;
    padding: 10px;
}

.active {
    background-color: orange;
}

button.link {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;
  }