<div>
    <h1>Welkom, <%= user.name %>!</h1>
    <a hx-get="/logout" hx-swag="outerHTML">Uitloggen</a>
    <div id="resultaat1" hx-swap-oob="true">Dit moet naar resultaat 1</div>
    <div id="resultaat2" hx-swap-oob="true">Dit moet naar resultaat 2</div>
</div>