<%- include('head', {title:"my App"}) -%>
<div id="content">
    <button class="link" hx-target="#content" hx-get="/login" hx-swap="innerHTML">Login</button>
</div>
<div id="resultaat1"></div>
<%- include('foot') -%>